@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-pagination-bullet {
  @apply !border-[5px] !border-white;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  @apply transition-all duration-200
}
